[Unit]
Description=The Vault DB Update
Wants=vault-update.timer

[Service]
User=kaessens-j
Type=oneshot
ExecStart=/home/kaessens-j/TheVault/target/release/vault --connstr postgresql://vaultadmin@/vault update --celldir /mnt/L/05-Molekulargenetik/09-NGS/01-Markerscreening

[Install]
WantedBy=multi-user.target

